body {
  background-color: #EAF6f6;
}

hr {


  border-style: none;
  border-bottom-style: dotted;
  border-width: 10px;
  border-color: grey;

  width: 5%;
}

img {
  height: 200px;
}
h1
{
  font-style: italic;
  color: #66BFBF

}
h3
{
  font-style: italic;
  color:#66BFBF
}
